
.about-me-outer-container
    background-color: rgba(0, 0, 0, 0.5)
    width: 30vw
    height: 90vh
    position: absolute
    top: 50px
    right: 50px
    border-radius: 10px
    min-width: 300px

    .about-me-inner-container
        overflow-y: scroll
        -ms-overflow-style: none
        scrollbar-width: none
        padding: 30px
        line-height: 22px
        text-align: justify

        .title
            color: cyan

        .main-bio
            

        .close-button-container
            float: right
            font-size: 20px

            &:hover
                color: cyan
                cursor: pointer

        .connect-with-me
            padding-top: 20px

            .container
                padding-top: 30px
                font-size: 50px
                display: flex
                justify-content: center
                gap: 50px
        

