@import "../../styles/theme.sass"

.home-screen-component-container
    .inner-component-container
        .header-container
        .body-container
            canvas
                height: 100vh

            .about-me-button
                background-color: rgba(0, 0, 0, 0.7)
                position: absolute
                right: 50px
                bottom: 0px
                padding: 20px
                border-radius: 20px 20px 0px 0px

                &:hover
                    color: cyan
                    cursor: pointer
