@import "../../styles/theme.sass"

.home-screen-component-container
    .inner-component-container
        .header-container

        .body-container
            .intro-section
                display: flex
                align-items: center

                video
                    width: 100vw

                .text
                    display: flex
                    width: 40vw
                    height: 40vw
                    font-size: 3vw
                    position: absolute
                    top: 0px
                    right: 2vw
                    text-align: right
                    background-color: rgba(0, 0, 0, 0.5)
                    padding: 50px

                    h1
                        align-self: center
